<div class="container mt-5">
  <h2 class="text-center fw-bold">💳 Mi Crédito</h2>
  <p class="text-center text-muted">Consulta el estado y disponibilidad de tus créditos</p>

  <div class="input-group mb-4 w-50 mx-auto">
    <input type="text" class="form-control" placeholder="Buscar crédito...">
    <button class="btn btn-primary"><i class="bi bi-search"></i></button>
  </div>

  <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
    @for (credito of creditos; track $index) {
      <card-credito [credito]="credito">
        <div class="d-grid gap-2">
          @if (credito.Restante != credito.Monto) {
            <span [routerLink]="['/clientes','pagar',credito.comercioId]" class="btn btn-outline-success">
              <i class="bi bi-cash-coin me-1"></i>
              Pagar
            </span>
          }
          <span [routerLink]="['/articulos',credito.comercioId]" class="btn btn-outline-primary">
            <i class="bi bi-cart me-1"></i>
            Comprar
          </span>
        </div>
      </card-credito>
    }
  </div>
</div>
