<section class="container mt-5">
  <h2 class="text-center fw-bold text-primary text-decoration-underline">Usa tu credito <i
    class="bi bi-bag-check-fill"></i></h2>
  <p class="text-center text-muted ">Haga sus pedidos usando su credito!</p>


  <div class="row mt-4">
    @for (credito of Comercios; track $index) {
      <div class="col-lg-4 col-md-6 mb-4">
        <div class="card border-start border-4 p-3 shadow-sm status-{{credito.Estado}}">
          <div class="card-body">
            <div class="d-flex justify-content-between mb-3">
              <div>
                <h6 class="text-muted m-0">Comercio</h6>
                <h5 class="fw-bold">{{ credito.Comercios.Nombre }}</h5>
              </div>
            </div>

            <p class="mb-2"><strong>Monto:</strong> ${{ credito.Monto }}</p>
            <p class="mb-3"><strong>Disponible:</strong> ${{ credito.Restante }}</p>

            <div class="text-end">
              <button [disabled]="credito.Estado!==EstadoAcreditado.Activo"
                      [routerLink]="['/articulos',credito.comercioId]"
                      class="btn btn-outline-primary btn-sm">
                <i class="bi bi-bag-check-fill"></i> Comprar


              </button>
              @if (credito.Restante === 0) {
                <small class="text-danger">No tienes credito disponible:(</small>
              }
            </div>
          </div>
        </div>
      </div>
    }
  </div>
</section>
