<div class="container py-5">
  <h1 class="text-center mb-4">Clientes</h1>
  <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">

    @for (cliente of Clientes; track $index) {
      <div class="col">
        <div class="card p-3 shadow-sm text-center">
          <!-- Imagen del Cliente -->
          <img [src]="cliente.Clientes.Imagen" alt="Imagen del cliente"
               class="rounded-circle mx-auto d-block img-thumbnail"
               style="width: 80px; height: 80px; object-fit: cover;">


          <!-- Datos del Cliente -->
          <h5 class="card-title mt-2 mb-1">{{ cliente.Clientes.Nombre }}</h5>
          <small class="text-muted d-block">{{ cliente.Clientes.Direccion }}</small>
          <small class="text-muted d-block">{{ cliente.Clientes.Telefono }}</small>

          <!-- Monto y Disponible -->
          <p class="mb-1 mt-2">Monto: <strong class="text-primary">{{ cliente.Monto | currency }}</strong></p>
          <p>Disponible: <strong class="text-success">{{ cliente.Restante | currency }}</strong></p>

          <!-- Estado -->
          <span
            class="badge {{cliente.Estado ==EstadoAcreditado.Activo ? 'bg-success': cliente.Estado === EstadoAcreditado.Maximo? 'bg-warning':  'bg-danger'}}">
            {{ cliente.Estado }}
          </span>
        </div>
      </div>
    } @empty {
      <h2 class="text-danger text-decoration-underline fs-6">0 Clientes encontrados</h2>
    }
  </div>
</div>
