.nav-link {
  color: white;
}

.nav-link:hover {
  background-color: #234668;
}

.sidebar {
  height: 100vh;
  background-color: #2d5c8a !Important;
}
.avatar img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 2px solid white;
}


.rutaActual {
  text-decoration : underline;
  text-underline: #ffffff;
}
