<div class="container-fluid">
  <div class="row">
    <!-- Botón para abrir el menú en móviles -->
    <button class="btn btn-primary d-md-none my-2" type="button" data-bs-toggle="offcanvas"
            data-bs-target="#sidebarMenu">
      <i class="bi bi-list"></i> Menú
    </button>

    <!-- Menú lateral (Offcanvas en móviles, fijo en pantallas grandes) -->
    <nav id="sidebarMenu" class="sidebar col-md-2 d-md-block  offcanvas-md offcanvas-start ">
      <div class="offcanvas-header d-md-none">
        <h5 class="offcanvas-title text-white">Menú</h5>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas"></button>
      </div>
      <div class="offcanvas-body  ">
        <ul class="nav flex-column">
          @if (usuarioActual()) {
            <div class="text-center avatar">
              @if (EsComercio(); as com) {
                <img [src]="com.Imagenes[0]"
                     class="rounded-circle" alt="Imagen Comercio...">
                <h5 class="text-white mt-2">{{ usuarioActual()?.Nombre }} </h5>
                <p style="font-size: 12px">Comercio</p>
              }

              @if (EsCliente(); as cliente) {
                <img [src]="cliente.Imagen"
                     class="rounded-circle" alt="Imagen Cliente...">
                <h5 class="text-white mt-2">{{ usuarioActual()?.Nombre }} </h5>
                <p style="font-size: 12px">Cliente</p>
              }
            </div>
          }

          <li class="nav-item">
            <a class="nav-link" routerLink="inicio" routerLinkActive="rutaActual"><i class="bi bi-house-door"></i>
              Inicio</a>
          </li>
          @if (usuarioActual()?.Rol != Roles.Comercio) {

          <li class="nav-item">
            <a class="nav-link" routerLink="comercios" routerLinkActive="rutaActual"><i class="bi bi-shop"></i>
              Comercios</a>
          </li>
          }
          <!--         Acceso solo para clientes -->
          @if (usuarioActual()?.Rol == Roles.Cliente) {

            <li class="nav-item">
              <a class="nav-link" [routerLink]="['/clientes/comprar']" routerLinkActive="rutaActual"><i
                class="bi bi-credit-card"></i> Comprar</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['/clientes/credito']" routerLinkActive="rutaActual"><i
                class="bi bi-credit-card"></i> Mi Crédito</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['/clientes/historialTransacciones']" routerLinkActive="rutaActual"><i
                class="bi bi-file-earmark-text"></i> Transacciones</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['/clientes/solicitudes']" routerLinkActive="rutaActual"><i
                class="bi bi-pencil-square"></i> Mis Solicitudes</a>
            </li>
          }
          <!--         Acceso solo para Comercios -->
          @if (usuarioActual()?.Rol == Roles.Comercio) {
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['/AdminComercios/clientes']" routerLinkActive="rutaActual"><i
                class="bi bi-person-lines-fill"></i> Clientes</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['/AdminComercios/solicitudes']"
                 routerLinkActive="rutaActual"> <i class="bi bi-person-plus-fill"></i> Solicitudes</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['/AdminComercios/transacciones']" routerLinkActive="rutaActual"><i
                class="bi bi-currency-dollar"></i>Transacciones</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['/AdminComercios/reportes']" routerLinkActive="rutaActual"><i
                class="bi bi-bar-chart-line"></i> Reportes</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['/articulos',usuarioActual()?.id]" routerLinkActive="rutaActual"><i
                class="bi bi-bar-chart-line"></i> Articulos</a>
            </li>
          }

          <li class="nav-item">
            <a class="nav-link btn btn-outline-danger w-100 mt-3" (click)="btnSeccion()">
              <i class="bi bi-box-arrow-in-right"></i> {{ usuarioActual() !== null ? 'Cerrar' : 'Iniciar' }} Sesión
            </a>
          </li>
        </ul>
      </div>
    </nav>

    <!-- Contenido principal, asegurando que comience después del menú -->
    <main role="main" class="col-md-10 ms-sm-auto px-4">
      <div class="content mt-3">
        <router-outlet></router-outlet>
      </div>
    </main>
  </div>
</div>

