
<div class="container py-5">
  <div class="d-flex justify-content-between align-items-center mb-4">
    <button class="btn-new">Nueva</button>
    <h1 class="text-center mb-0">Transacciones</h1>
  </div>
  <div class="search-container">
    <input type="text" placeholder="Cliente">
    <div class="input-group-append">
      <button class="btn btn-outline-secondary" type="button">
        <i class="bi bi-search"></i>
      </button>
    </div>
  </div>

  <table class="table table-striped">
    <thead>
    <tr>
      <th>Fecha</th>
      <th>Cliente</th>
      <th>Monto</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>02-05-2024</td>
      <td>Francisco</td>
      <td>300</td>
    </tr>
    <tr>
      <td>02-05-2024</td>
      <td>Morelia</td>
      <td>150</td>
    </tr>
    <tr>
      <td>03-07-2024</td>
      <td>Yisus</td>
      <td>100</td>
    </tr>
    </tbody>
  </table>
</div>
