<div class="container mt-5">
  <h2 class="text-center">Transacciones</h2>
  <div class="row justify-content-center mt-4">
    <div class="col-md-6">
      <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Buscar comercio" aria-label="Buscar comercio">
        <div class="input-group-append">
          <button class="btn btn-outline-secondary" type="button">
            <i class="bi bi-search"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
  <table class="table table-bordered mt-4">
    <thead class="thead-light">
    <tr>
      <th scope="col">Fecha</th>
      <th scope="col">Comercio</th>
      <th scope="col">Monto</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>02-05-2024</td>
      <td>Colmadon</td>
      <td>300</td>
    </tr>
    <tr>
      <td>02-05-2024</td>
      <td>Floristeria</td>
      <td>150</td>
    </tr>
    <tr>
      <td>03-07-2024</td>
      <td>Colmadon</td>
      <td>100</td>
    </tr>
    </tbody>
  </table>
</div>
