.status-dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  display: inline-block;
  margin-left: 5px;
}
.status-Aceptada { background-color: green; }
.status-Pendiente { background-color: orange; }
.status-Rechazada { background-color: red; }

