<div class="container py-5">
  <h1 class="text-center mb-4">Solicitudes crédito</h1>

  <div class="row">
    @for (solicitud of Solicitudes; track $index) {

      <div class="col-md-4">
        <div class="solicitud-card shadow-sm p-3 mb-3 rounded">
          <div class="solicitud-header d-flex justify-content-between align-items-center">
            <h5 class="fw-bold">{{ solicitud.Clientes.Nombre }}</h5>
            <span class="status-dot {{solicitud.Estado}}"></span>
          </div>
          <p class="amount fw-bold text-primary">${{ solicitud.Monto }}</p>
          <p class="status-text text-muted text-decoration-underline">{{ solicitud.Estado }}</p>
          @if (solicitud.Estado === EstadoSolicitud.Pendiente) {
            <div class="solicitud-actions d-flex justify-content-between mt-3">
              <button class="btn btn-success btn-sm" (click)="aceptarSolicitud(solicitud.id)">✔</button>
              <button class="btn btn-danger btn-sm " (click)="rechazarSolicitud(solicitud.id)">✖</button>
            </div>
          }
        </div>
      </div>
    }
  </div>

</div>
